NEXT_PUBLIC_SUPABASE_URL="https://ndvhjynwkvqebxjgsxju.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5kdmhqeW53a3ZxZWJ4amdzeGp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4NTU2MzksImV4cCI6MjA5NTQzMTYzOX0.SfbjKiJmj59pnE8HE5jyz-OQOmugHoNRU6x2WbtjHUI"
